@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Content ===-->
<div class="container content height-500">

    @*<video controls="controls" autoplay="autoplay">
        <source src="http://video.ch9.ms/ch9/550b/78845314-8704-4197-9bb2-c5dd6f8f550b/560Windows10TechnicalPreviewM01_high.mp4" type="video/mp4" />
        <source src="movie.ogg" type="video/ogg" />
        Your browser does not support the video tag.
    </video>*@

    <iframe src="//channel9.msdn.com/Shows/The-Garage-Series-for-Office-365/PowerShell-basics-for-managing-Office-365-and-the-space-race/player" width="960" height="540" allowfullscreen frameborder="0"></iframe>

</div>
