.content {
  margin-top: 60px;
  z-index:1;
  text-align: center;
}

.header {
  position: fixed;
  padding:10px;
  top: 0;
  z-index: 999;

  background-color:aliceblue;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  min-width: 100%;
  /* grid-auto-rows: minmax(100px, auto); */
  /*min-height: 10vh;*/
  /*font-size: calc(10px + 2vmin);*/
  /*justify-content: center;*/
}

.one {
  grid-column: 1;
  grid-row: 1;
  text-align:left;
  margin-left:50px;
}

.two {  
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.three {
  grid-column: 3;
  grid-row: 1;
  text-align:right;
  margin-right:50px;
}

.tokens {
  margin-left: 10%;
}

.apilink {
  margin-left: 5px;
  margin-right:5px;
}

.apiResult {
  margin-left: 10%;
  margin-bottom:50px;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header-old {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
