@model DotNetLiguria.Models.SliderObjBase

<form method="post" action="/Dashboard/AddImageSliderObj" enctype="multipart/form-data">

    @Html.HiddenFor(model => model.SliderObjBaseId)

    <div class="modal-body">

        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#generalTab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                <li><a href="#imageTab" data-toggle="tab"><i class="fa fa-file-image-o"></i> Image</a></li>
                <li><a href="#transitionsTab" data-toggle="tab"><i class="fa fa-sliders"></i> Transitions</a></li>
            </ul>

            <div class="tab-content">
                <br />
                <div class="tab-pane fade in active" id="generalTab">
                    @Html.Partial("Partial/_GeneralLayer")
                </div>
                <div class="tab-pane fade in" id="imageTab">
                    <div class="form-group">
                        <label for="Image">Image</label>
                        <input type="file" id="Image" name="Image" class="form-control" required /><br />
                    </div>
                    <div class="form-group">
                        <label for="Link">Link</label>
                        <input type="text" id="Link" name="Link" class="form-control" placeholder="Url">
                    </div>
                </div>
                <div class="tab-pane fade in" id="transitionsTab">
                    @Html.Partial("Partial/_TransitionsLayer")
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Submit</button>
        <button data-dismiss="modal" class="btn btn-u btn-u-default" type="button">Close</button>
    </div>
</form>





