@model DotNetLiguria.Models.Slider

<script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>

<form method="post" action="/Dashboard/AddSlider" enctype="multipart/form-data">

    <div class="form-group">
        <label for="Name">Title</label>
        <input type="text" id="Title" name="Title" class="form-control" required>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                <img id="fotoPrev" src="@Model.Image" class="img-thumbnail" />
            </div>
            <div class="col col-md-8">
                <input type="text" id="Image" name="Image" class="form-control" value="@Model.Image">
                <br />
                <span class="btn btn-default btn-file margin-10">
                    <input type="file" id="file" name="file">
                </span>
                <br />
                <label>Immagine dimensione massima (1300 KByte)</label>
            </div>
        </div>
    </div>

    <hr />

    <div class="form-group">
        <label for="SlideDelay">Slide Delay</label>
        <input type="number" id="SlideDelay" name="SlideDelay" class="form-control" /><br />
    </div>

    <div class="form-group">
        <label for="BlogHtml">Enable</label>
        <br />
        @Html.CheckBoxFor(model => model.Enable)
    </div>

    <div class="form-group">
        <label for="BlogHtml">Slide TransitionType</label>
        <br />
        @Html.EnumDropDownListFor(model => model.SlideTransitionType)
    </div>


    <footer>
        <button type="submit" class="btn btn-u">Submit</button>
    </footer>
</form>


<script type="text/javascript">

    function readURL(input) {

        if (input.files && input.files[0]) {

            var fsize = $('#file')[0].files[0].size;

            if (fsize > 1300000) {
                alert("Immagine troppo grande : " + fsize + " Bytes");
                $('#file').val("");
            }
            else {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#fotoPrev').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    }

    $(document).ready(function () {

        $("#file").change(function () {
            readURL(this);
        });

    });

</script>
