@model DotNetLiguria.Models.Workshop

@{
    ViewBag.Title = "New Workshop";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
@*<script src="~/Content/Admin/ckeditor/ckeditor.js"></script>
    <script src="~/Content/Admin/ckeditor/adapters/jquery.js"></script>*@

<!--=== Content ===-->

<form method="post" action="/Dashboard/AddWorkshop" enctype="multipart/form-data">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                New Workshop
            </h1>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>

    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#generalTab" data-toggle="tab"><i class="fa fa-dashboard"></i> General</a></li>
            <li><a href="#imageTab" data-toggle="tab"><i class="fa fa-file-image-o"></i> Image</a></li>
            <li><a href="#locationTab" data-toggle="tab"><i class="fa fa-home"></i> Location</a></li>
            <li><a href="#externalTab" data-toggle="tab"><i class="fa fa-eject"></i> External</a></li>
        </ul>

        <div class="tab-content">
            <br />
            <div class="tab-pane fade in active" id="generalTab">

                <div class="form-group">
                    <label for="Title">Title</label>
                    <input type="text" id="Title" name="Title" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="Description">Description</label>
                    <textarea type="text" id="Description" name="Description" class="form-control" rows="3" required></textarea>
                </div>

                <div class="form-group">
                    <label for="EventDate">EventDate</label>
                    <input type="date" id="EventDate" name="EventDate" class="form-control">
                </div>

                <div class="form-group">
                    <label for="Tags">Tags</label>
                    <input type="text" id="Tags" name="Tags" class="form-control">
                </div>

            </div>

            <div class="tab-pane fade in" id="imageTab">

                <div class="form-group">
                    <div class="col-md-2">
                        <img id="fotoPrev" class="img-thumbnail" />
                    </div>
                    <div class="col col-md-8">
                        <input type="text" id="Image" name="Image" class="form-control">
                        <br />
                        <span class="btn btn-default btn-file margin-10">
                            <input type="file" id="file" name="file">
                        </span>
                        <br />
                        <label>Immagine dimensione massima (800 KByte)</label>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade in" id="locationTab">
                <div class="form-group">
                    <label for="Location.Name">Location Name</label>
                    <input type="text" id="Location.Name" name="Location.Name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="Location.Address">Location Address</label>
                    <input type="text" id="Location.Address" name="Location.Address" class="form-control">
                </div>

                <div class="form-group">
                    <label for="Location.Coordinates">Location Coordinates</label>
                    <input type="text" id="Location.Coordinates" name="Location.Coordinates" class="form-control">
                </div>

                <div class="form-group">
                    <label for="Location.MaximumSpaces">Location MaximumSpaces</label>
                    <input type="text" id="Location.MaximumSpaces" name="Location.MaximumSpaces" class="form-control">
                </div>
            </div>

            <div class="tab-pane fade in" id="externalTab">

                <div class="form-group">
                    <label>ExternalRegistration</label>
                    @Html.CheckBoxFor(x => x.ExternalRegistration)
                </div>

                <div class="form-group">
                    <label for="ExternalRegistrationLink">ExternalRegistrationLink</label>
                    <input type="text" id="ExternalRegistrationLink" name="ExternalRegistrationLink" class="form-control">
                </div>

                <br />

                <hr />

                <div class="form-group">
                    <div class="form-group">
                        <label>IsExternalEvent</label>
                        @Html.CheckBoxFor(x => x.IsExternalEvent)
                    </div>
                    <br />
                    <label for="BlogHtml">BlogHtml</label>
                    @Html.TextAreaFor(x => x.BlogHtml, new { @name = "editor", @class = "ckeditor", @id = "editor1" })
                </div>

            </div>

        </div>

    </div>

</form>


<script type="text/javascript">
    CKEDITOR.replace('editor1', {
        filebrowserImageBrowseUrl: '/Dashboard/uploadPartial',
        filebrowserImageUploadUrl: '/Dashboard/uploadnow'
    });

    function updateValue(id, value) {
        // this gets called from the popup window and updates the field with a new value
        var jqueryObjectByClass = $(".cke_dialog_ui_input_text")[1];
        jqueryObjectByClass.value = value;
    }
</script>


<script type="text/javascript">
    function readURL(input) {

        if (input.files && input.files[0]) {

            var fsize = $('#file')[0].files[0].size;

            if (fsize > 800000) {
                alert("Immagine troppo grande : " + fsize + " Bytes");
                $('#file').val("");
            }
            else {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#fotoPrev').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    }

    $(document).ready(function () {

        $("#file").change(function () {
            readURL(this);
        });

    });

</script>