@model IEnumerable<DotNetLiguria.Web.Models.ImageViewModels>

@{
    ViewBag.Title = "Upload Partial";
    Layout = "";
}

<!-- JQuery -->
@Scripts.Render("~/bundles/jquery")

@foreach (var image in Model)
{
    <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
        <img src="@image.Url" alt="Hejsan" id="#image" data-source="@image.Url" width="200" height="200" />
    </a>
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".returnImage").click("click", function (e) {
            var urlImage = $(this).attr("data-url");
            window.opener.updateValue("cke_72_textInput", urlImage);
            window.close();
        });
    });
</script>

