.HomeHeader {
    margin-top: 60px;
    z-index:1;
    text-align: center;
}

.header {
    position: fixed;
    padding:10px;
    top: 0;
    z-index: 999;

    background-color:aliceblue;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    min-width: 100%;
    /* grid-auto-rows: minmax(100px, auto); */
    /*min-height: 10vh;*/
    /*font-size: calc(10px + 2vmin);*/
    /*justify-content: center;*/
}