@model DotNetLiguria.Models.Workshop

    	<!-- Info Blokcs -->
<div class="row margin-bottom-30">
    <!-- Welcome Block -->
    <div class="col-md-8 md-margin-bottom-40">
        <div class="headline"><h2>Last Workshop</h2></div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive margin-bottom-20" src="@Model.Image" alt="">
            </div>
            <div class="col-sm-8">
                <p>@Model.Description</p>
                <ul class="list-unstyled margin-bottom-20">
                    @foreach (var item in Model.Tracks)
                    {
                        <li><i class="fa fa-check color-green"></i> @item.Title</li>
                    }
                </ul>
            </div>

        </div>

        <blockquote class="hero-unify">
            <p>@Model.Location.Address</p>
            <small>Dot Net Liguria</small>
        </blockquote>
    </div><!--/col-md-8-->
    <!-- Latest Shots -->
    <div class="col-md-4">
        <div class="headline"><h2>Latest Shots</h2></div>
        <div id="myCarousel" class="carousel slide carousel-v1">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/content/images/workshops/WP_20150325_18_05_47_Pro.jpg" alt="">
                    <div class="carousel-caption">
                        <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/content/images/workshops/WP_20150326_001.jpg" alt="">
                    <div class="carousel-caption">
                        <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/content/images/workshops/WP_20150326_002.jpg" alt="">
                    <div class="carousel-caption">
                        <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/content/images/workshops/WP_20150326_003.jpg" alt="">
                    <div class="carousel-caption">
                        <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/content/images/workshops/WP_20150326_09_54_19_Pro.jpg" alt="">
                    <div class="carousel-caption">
                        <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-arrow">
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div><!--/col-md-4-->
</div>
<!-- End Info Blokcs -->
