@{
    ViewBag.Title = "About US";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">@ViewBag.Title</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content ===-->
<div class="container content height-500">
    <div class="row margin-bottom-40">
        <div class="col-md-6 md-margin-bottom-40">
            <p>DotNetLiguria è un'iniziativa di un gruppo di persone che sono appassionate di sviluppo software basati sullo standard ISO/IEC 23271 la cui implementazione più nota è il Framework.NET e le tecnologie per lo sviluppo Windows.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> si propone di discutere di tutto l'ecosistema di questo standard, delle tecnologie, dei linguaggi, dei tool e naturalmente delle problematiche inerenti lo sviluppo di applicazioni.</li>
                <li><i class="fa fa-check color-green"></i> è il primo 'user group' ligure inerente queste tecnlogie e si propone di organizzare eventi virtuali e non, al fine di approfondire le tematiche citate.</li>
            </ul><br />

            <!-- Blockquotes -->
            <blockquote class="hero-unify">
                <p>DotNetLiguria è membro di Ineta un'organizzazione no-profit, indipendente, il cui scopo è di supportare tutti gli user group interessati alla piattaforma Microsoft.NET</p>
                <small>Raffaele Rialdi</small>
            </blockquote>
        </div>

        <div class="col-md-6 md-margin-bottom-40">
            <div class="responsive-video">
                <iframe src="http://player.vimeo.com/video/21256613" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div><!--/row-->
    <!-- Meer Our Team -->
    <div class="headline"><h2>Meet Our Team</h2></div>

    <div class="row team">
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img class="img-responsive" src="~/Content/images/Crew/rialdi.jpg" alt="" style="height:444px; width:400px;" />
                <h3><a>Raffaele Rialdi</a> <small>Presidente</small></h3>
                <p>
                    Mi occupo professionalmente di sviluppo software dal 1987. Mi sono specializzato nelle tecnologie di sviluppo basaste su piattaforma Microsoft che nel 2003 mi ha riconosciuto il premio "Most Valuable Professional" grazie al quale posso rimanere in contatto con i team di sviluppo del campus a Redmond dove mi reco ogni anno. Quest'anno ho festeggiato il 9^ award MVP.
                    Il mio lavoro consiste nel progettare, coordinare e realizzare software utilizzando le tecnologie che più amo come il Framework.NET, C#, C++ e più recentemente WinRT. Oltre a questo sono consulente, teacher in corsi e speaker in conferenze del settore.
                    Nel tempo libero ... sviluppo software e trascorro quanto più tempo mi è possibile con la famiglia.
                </p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="http://blogs.ugidotnet.org/raffaele" target="_blank"><i class="fa fa-wordpress"></i></a></li>
                    <li><a href="https://twitter.com/raffaeler" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://www.iamraf.net/" target="_blank"><i class="icon icon-globe"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img class="img-responsive" src="~/Content/images/Crew/gambaro.jpg" alt="" style="height:444px; width:400px;"/>
                <h3><a>Alessandro Gambaro</a> <small>Vice Presidente</small></h3>
                <p>Con la passione per l'informatica sin dal 1985 quando ero un bambino con il mio ZX Spectrum, sono tuttora entusiasta e appassionato di IT, laureato in ingegneria informatica nel 2000 a Genova ho avuto la possibilità di costruire i miei skills lavorando e studiando (nessuno nasce imparato dico io :) ) durante tutta la mia carriera lavorativa.Partito con il C++ ho poi lavorato diversi anni in ambiente Java (linguaggio che tuttora utilizzo anche se raramente), da qualche anno utilizzo C# .Net che reputo una ottima piattaforma, che mi appassione e mi stimola a creare architetture sempre più complete (a parer mio). Nel mio lavoro oltre che progettare, coordinare lo sviluppo del software mi occupo anche di Agile Development e Scrum.</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="https://it.linkedin.com/in/alessandrogambaro" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/GambAlex" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style" style="min-height:500px">
                <img class="img-responsive" src="~/Content/images/Crew/marco.jpg" alt="" style="height:444px; width:400px;"/>
                <h3><a>Marco D'Alessandro</a> <small>Consigliere, Tesoriere, Web Designer</small></h3>
                <p>Sono nato e vivo a Genova. Sono un programmatore orientato principalmente su piattaforma Framework .Net della microsoft, C#, WinForm e Service, Web Service e Asp.net. Lavoro come Software Engineer/Architect presso Softeco Sismat.</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="http://it.linkedin.com/in/marcodalessandro74" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/kiffer1974" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://www.percigal.net/" target="_blank"><i class="icon icon-globe"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row team">
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img class="img-responsive" src="~/Content/images/Crew/belloni.jpg" alt="" style="height:444px; width:400px;"/>
                <h3><a>Andrea Belloni</a> <small>Consigliere</small></h3>
                <p>Vivo e lavoro a Imperia come libero professionista, mi occupo di consulenza in ambito Microsoft.NET, C#, VB.Net, ASP.Net, WPF, WCF. Appassionato di architettura del software, di database (SQLServer) e accesso ai dati (EntityFramework, Linq2SQL, ADO.NET) … curo lo sviluppo del software per alcune società della zona. Il mio tempo libero... Famiglia e free climibing.</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="http://www.facebook.com/#!/pages/Code-Design/254997551192555" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/andbell77" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img class="img-responsive" src="~/Content/images/Crew/gogna.jpg" alt="" style="height:444px; width:400px;"/>
                <h3><a>Alessio Gogna</a> <small>Consigliere</small></h3>
                <p>Microsoft Professional Developer, consulente IT, appassionato di .NET Framework, nostalgico programmatore C++, novello agilista, sostenitore del Free Software e inguaribile nerd. La mia passione è programmare: ho iniziato a 8 anni con un C=64 e non mi sono ancora fermato. Oggi mi dedico soprattutto a tecnologie Web-Oriented basate su .Net Framework.</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="https://twitter.com/alecsg77" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://alecsg77.net/" target="_blank"><i class="icon icon-globe"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img class="img-responsive" src="~/Content/images/Crew/masieri.jpg" alt="" style="height:444px; width:400px;" />
                <h3><a>Claudio Masieri </a> <small>Consigliere</small></h3>
                <p>Libero professionista, ho lavorato come consulente presso molte realtà Genovesi (Elsag, Costa, Selex, TSF...). Saltuariamente tengo qualche corso in ambito Microsoft.Net, c#, vb, asp.net, WCF e Workflow Foundation e talvolta scrivo qualche articolo per la Wrox, o su Codeproject. </p>
                <ul class="list-unstyled list-inline team-socail">

                </ul>
            </div>
        </div>
    </div>
    <div class="row team">
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img class="img-responsive" src="~/Content/images/Crew/baroni.jpg" alt="" style="height:444px; width:400px;"/>
                <h3><a>Alberto Baroni</a> <small>Consigliere</small></h3>
                <p>Sono nato e vivo a Genova. Per 10 anni mi sono occupato di soluzioni IT in ambito energetico. Ho collaborato alla progettazione e realizzazione di alcune delle più importanti soluzioni informatiche utilizzate dagli Operatori Energetici. Dal 2013 sono co-fondatore di Sinergetica Srl società leader nelle soluzioni software per il mercato enegetico</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="http://www.sinergetica.biz" target="_blank"><i class="icon icon-globe"></i></a></li>
                    <li><a href="https://twitter.com/Alkaloon" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://it.linkedin.com/in/albertobaroni" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img class="img-responsive" src="~/Content/images/Crew/sassetti.jpg" alt="" style="height:444px; width:400px;" />
                <h3><a>Andrea Sassetti</a> <small>Consigliere</small></h3>
                <p>Laureato in Ingegneria Informatica presso l'Università degli studi di Genova nel 2008. Sin dal 2004 mi occupo della tecnologia Microsoft.NET. Sono Microsoft Professional Developer e lavoro come software engineer nel campo dell'automazione industriale. Utilizzo principalmente C# e quando c'è bisogno di scolpire il metallo C++ :). Appassionato di tutto quello che gravita intorno alle NUI.</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="http://andreasassetti.wordpress.com" target="_blank"><i class="icon icon-globe"></i></a></li>
                    <li><a href="https://twitter.com/andreasassetti" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://it.linkedin.com/in/sassettiandrea" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div><!--/team-->
<!-- End Meer Our Team -->
<!--=== End Content ===-->