@model string

<div class="da-img"><img class="img-responsive" src="@Model" alt=""></div>

<p data-twttr-id="twttr-sandbox-2">

    <iframe id="twitter-widget-1" class="twitter-timeline twitter-timeline-rendered" height="350" frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen="" style="border: medium none; max-width: 100%; min-width: 180px; marg…-block; position: static; visibility: visible; width: 520px;" title="Twitter Timeline"></iframe>

</p>
