@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Scusate anche noi sbagliamo... Ma da ogni errore impariamo e diventiamo migliori...</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="">Pages</a></li>
            <li class="active">Error Page</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div align="center" style="min-height:500px; margin-left:auto; margin-right:auto; margin-top:50px;">
    <iframe width="960" height="720" src="https://www.youtube.com/embed/eKtGXPfabLQ?rel=0&amp;controls=0&autoplay=1"
            frameborder="0" allowfullscreen></iframe>
</div>




