Content-Type: text/html; charset=utf-8

@{
    var imageEmbedder = (ImageEmbedder)ViewData["Postal.ImageEmbedder"];
    var resource = imageEmbedder.ReferenceImage(ViewContext.HttpContext.Server.MapPath("~/Content/images/Logo_H200.png"));
}

<html>
<head>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>

    <div>
        <img src="cid:@resource.ContentId" style="float:left" />
        <div style="margin-left: 5px">
            <h1><span style="color:forestgreen"><b>DotNet</b></span> Liguria</h1>
            <p style="color:black">.Net Framework User Group della liguria</p>
        </div>
    </div>
    
    @{
        var workshop = (DotNetLiguria.Models.Workshop)ViewBag.Model;

        <h4><span style="color:red"><b>Cancellazione della tua iscrizione all'evento: </b></span> @workshop.Title <span style="color:red"> effettuata</span></h4>
    }


</body>
</html>
