@page "/"

    <h1>Benvenuti al questionario .Net Liguria !</h1>


Per accedere vai nella sezione Questionario e inquadra il QR Code.
La foto così acquisita verrà elaborata da server .Net Liguria, ma non sarà in alcun modo oggetto di conservazione o altra elaborazione rispetto al riconoscimento del QRCode.




