@page "/info"

<h1>Grazie di aver partecipato all'evento .Net Liguria !</h1>

<div>
    DotNetLiguria è totalmente no-profit. Gli speaker e gli organizzatori offrono il proprio tempo per promuovere la cultura informatica e far crescere la nostra regione.
    Se vuoi aiutarci, fatti avanti! info@dotnetliguria.net
    - Hai un argomento da proporre come speaker nel prossimo evento?
    - Vuoi dare una mano ad organizzare gli eventi, gestire il sito web, la newsletter o altro?
    - Hai delle idee per migliorare la qualità degli eventi?
    Grazie per la partecipazione!
</div>




